/*
    リセットCSS等の基本設定
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #002347;
	font-family: "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
blockquote,
code,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
iframe,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

li,
ol {
	list-style: none;
}

a {
	color: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

th,
td {
	border: 1px solid #002C59;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #002C59;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid #002C59;
	box-shadow: none;
	outline: none;
}

textarea {
	resize: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #002C59;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #002C59;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #002C59;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #002C59;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #002C59;
	border-left: 3px solid #002C59;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #002C59;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid #002C59;
	box-shadow: none;
	outline: none;
}

.hidden {
	display: none;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1400px;
}

.contents__inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 20px;
	width: 1000px;
}

.wrapper {
	overflow: hidden;
}

/*
    モジュール
*/

/*
    footer
*/

/*
    footer end
*/

/*
    header
*/

.header {
	background: #002C59;
	color: #fff;
	position: relative;
}

.header a {
	color: #fff;
}

.header .g-navi {
	display: flex;
	justify-content: flex-end;
	padding: 30px;
}

.header .g-navi__item:not(:last-of-type) {
	margin-right: 50px;
}

.header .breadcrumb {
	background: #000;
	padding: 0 20px;
}

.header .breadcrumb__inner {
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	width: 1100px;
}

.header .breadcrumb__item {
	padding: 10px 10px 10px 0;
}

.header .breadcrumb__item:not(:last-of-type)::after {
	color: #fff;
	content: '/';
	padding-left: 10px;
}

.header .common__scrollbutton {
	align-items: center;
	background: #FF7A00;
	border-radius: 50%;
	box-shadow: 2px 2px 12px #252525;
	display: flex;
	height: 148px;
	justify-content: center;
	position: absolute;
	right: 43px;
	top: 260px;
	width: 148px;
}

.header .common__scrollbutton-text {
	color: #fff;
	font-weight: 600;
	padding: 15px;
	text-align: center;
}

.header .common__scrollbutton-allow {
	-webkit-transform: translateX(-50%);
	bottom: 20px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

/*
    header end
*/

main {
	background-image: url(../images/summary/summary_bg.svg);
}

.faq__bg-color {
	background: #002C59;
}

.faq__bg-image {
	background-image: url(../images/summary/summaryfaq_bg.svg);
	background-repeat: repeat;
	background-size: contain;
}

.fv {
	background: #002C59;
	color: #FFF;
	padding: 50px;
	text-align: center;
}

.fv__title-en {
	font-size: 56px;
	font-style: italic;
	position: relative;
}

.fv__title-en::after {
	-webkit-transform: translateX(-50%);
	background: #fff;
	bottom: 6px;
	content: '';
	display: inline-block;
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 30px;
}

.fv__title-ja {
	font-size: 26px;
}

.ecosystems-map {
	text-align: center;
}

.ecosystems-map__title {
	font-size: 26px;
	font-weight: 600;
	padding: 50px;
}

.category.bg-white {
	background: #fff;
}

.category__inner {
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	width: 860px;
}

.category__title {
	font-size: 26px;
	padding: 50px;
}

.category__contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 20px;
}

.category__item {
	-o-border-image: url("../images/main/linear_frame.svg");
	background: #fff;
	border: solid 2px transparent;
	border-image: url("../images/main/linear_frame.svg");
	border-image-repeat: stretch;
	border-image-slice: 1;
	font-weight: 600;
	height: auto;
	margin-bottom: 20px;
	text-align: center;
	width: calc((100% / 4) - (20px * 2 / 3));
}

.category__itemtext {
	background-color: #FFF;
	color: #002347;
	display: block;
	font-size: 18px;
	padding: 10%;
}

.summary {
	padding-top: 50px;
}

.summary:nth-of-type(2) {
	background: #F8F8F8;
}

.summary__title {
	display: inline-block;
	margin-bottom: 60px;
	position: relative;
	text-align: center;
}

.summary__title-wrapper {
	text-align: center;
}

.summary__title-text {
	font-size: 26px;
}

.summary__title-text.italic {
	font-style: italic;
}

.summary__title-text.white {
	color: #fff;
}

.summary__title-image {
	-webkit-transform: translateX(-50%);
	bottom: -18px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.summary__contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.summary__item {
	background: #fff;
	display: block;
}

.summary__item-wrapper {
	height: auto;
	margin-bottom: 40px;
}

.summary__item-wrapper.blog {
	border: 1px solid #002C59;
	height: auto;
	margin-bottom: 40px;
	width: calc((100% / 2) - 20px);
}

.summary__item-wrapper.youtube {
	height: auto;
	margin-bottom: 20px;
	width: calc((100% / 3) - 20px);
}

.summary__item-wrapper.youtube iframe {
	height: auto;
	width: 100%;
}

.summary__item img {
	width: 100%;
}

.summary__texts {
	padding: 20px;
}

.summary__texts-first {
	font-weight: 600;
}

.summary__texts-second {
	color: #73777A;
	padding: 10px 0;
}

.summary__texts-third {
	border-top: 1px solid #73777A;
	padding-top: 20px;
}

@media (max-width: 768px) {

.header .common__scrollbutton {
	height: 70px;
	right: 20px;
	width: 70px;
}

.header .common__scrollbutton-text {
	font-size: 11px;
	line-height: 1.2;
	padding: 5px;
}

.header .common__scrollbutton-allow {
	display: none;
}

.ecosystems-map__title {
	font-size: 18px;
	padding: 20px;
}

.category__inner {
	padding-left: 20px;
	padding-right: 20px;
}

.category__title {
	font-size: 18px;
	padding: 20px;
}

.category__item {
	width: calc((100% / 2) - (20px * 2 / 3));
}

.category__itemtext {
	font-size: 13px;
	padding: 5%;
}

.summary {
	padding-top: 50px;
}

.summary__title {
	margin-bottom: 40px;
}

.summary__title-text {
	font-size: 18px;
}

.summary__item-wrapper.blog {
	width: 100%;
}

.summary__item-wrapper.youtube {
	width: 100%;
}

}

