@import "variables/**";
@import "_mixin.scss";
@import "_base.scss";
@import "_module.scss";
@import "block/**";
@import "main.scss";

main{
  background-image: url(../images/summary/summary_bg.svg);
}

.faq__bg-color{
  background: $MainColor;
}

.faq__bg-image{
  background-image: url(../images/summary/summaryfaq_bg.svg);
  background-repeat: repeat;
  background-size: contain;
}

// ファーストビュー
.fv{
  padding: 50px;
  background: $MainColor;
  color: #FFF;
  text-align: center;
  &__title-en {
    font-size: $fz-xl;
    font-style: italic; 
    position: relative;
    &::after{
      background: #fff;
      bottom: 6px;
      content: '';
      display: inline-block;
      height: 2px;
      left: 50%;
      position: absolute;
      width: 30px;
      transform: translateX(-50%);
      }
  }
  &__title-ja {
    font-size: $fz-x;
  }
}

// エコシステムマップ
.ecosystems-map{
  text-align: center;
  &__title{
    padding: 50px;
    font-size: $fz-x;
    font-weight: $fw-bold;
    @include sp() {
      padding: 20px;
      font-size: $fz-m;
    }
  }
}

// カテゴリから選ぶ
.category{
  &.bg-white{
    background: #fff;
  }
  &__inner{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: 860px;
    @include sp() {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  &__title{
    padding: 50px;
    font-size: $fz-x;
    @include sp() {
      padding: 20px;
      font-size: $fz-m;
    }
  }
  &__contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 20px
  } 
  &__item{
    width: calc((100% / 4) - (20px * 2 / 3));
    margin-bottom: 20px;
    font-weight: $fw-bold;
    height: auto;
    text-align: center;
    border: solid 2px transparent;
    border-image: url("../images/main/linear_frame.svg");
    border-image-slice: 1;
    border-image-repeat: stretch;
    background: #fff;
    @include sp() {
      width: calc((100% / 2) - (20px * 2 / 3));
    }
  }
  &__itemtext{
    color: $TextColor;
    display: block;
    padding: 10%;
    background-color: #FFF;
    font-size: $fz-m;
    @include sp() {
      padding: 5%;
      font-size: $fz-s;
    }
  }
}

// youtube一覧の交互背景
.youtube-alternate-bg:nth-of-type(even){
  background: $SubColor;
}
//stakingの交互背景
.staking-alternate-bg:nth-of-type(odd){
  background: $SubColor;
}

// ブログ一覧
.summary{
  padding-top: 50px;
  @include sp(){
    padding-top: 50px;
  }

  &__title{
    margin-bottom: 60px;
    text-align: center;
    position: relative;
    display: inline-block;
    @include sp(){
      margin-bottom: 40px;
    }
    &-wrapper{
      text-align: center;
    }
    &-text{
      font-size: $fz-x;
      @include sp(){
        font-size: $fz-m;
      }
      &.italic{
        font-style: italic;
      }
      &.white{
        color: #fff;
      }
    }  
    &-image{
      bottom: -18px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }    
  }

  &__contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    display: block;
    background: #fff;
    &-wrapper{
      margin-bottom: 40px;
      height: auto;
    }
    &-wrapper.blog{
      width: calc((100% / 2) - 20px);
      margin-bottom: 40px;
      height: auto;
      border: 1px solid $MainColor;
      @include sp(){
        width: 100%;
      }
    }
    &-wrapper.youtube{
      width: calc((100% / 3) - 20px);
      margin-bottom: 20px;
      height: auto;
      @include sp(){
        width: 100%;
      }
      iframe{
        width: 100%;
        height: auto;
      }
    }
    img{
      width: 100%;
    }
    &-wrapper.staking{
      width: calc((100% / 4) - 10px);
      margin-bottom: 20px;
      height: auto;
      @include sp(){
        width: 100%;
      }
      iframe{
        width: 100%;
        height: auto;
      }
    }
    img{
      width: 100%;
    }
  }

  &__texts{
    padding: 20px;
    &-first{
      font-weight: $fw-bold;
    }
    &-second{
      padding: 10px 0;
      color:$SubTextColor;
    }
    &-third{
      border-top: 1px solid $SubTextColor;
      padding-top: 20px;
    }
  }
}

.summary:not(:first-of-type){
  padding-bottom: 50px;
}

// FAQ
.summary__qabox:not(:last-of-type){
  margin-bottom: 20px;
}
.summary__qabox-contents{
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  font-size: $fz-m;
  &.question{
    color:#fff;
    font-weight: $fw-bold;
    background: $MainColor;
    padding: 10px;
  }
  &.answer{
    color:$MainColor;
    background: #fff;
    padding: 10px;
  }
  .summary__qabox-icon{
    display: flex;
    margin-right: 10px;
  }
}

// プール基本情報
.poolinfo__box{
  display: flex;
  padding: 10px;
  align-items: center;
  .poolinfo__box-text{
    margin-left: 20px;
    font-weight: $fw-bold;
    li{
      padding: 10px;
      &:not(:last-of-type){
        border-bottom: 1px solid #DFDFDF;
      }
    }
    dt{
      background: #DFDFDF;
      padding: 5px;
      display: inline;
    }
    dd{
      padding: 5px;
      width: auto;
    }
    
  }
}

.staking-flow{
  position: relative;
  .staking_button{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.footer{
  background: $MainColor;
  color:#fff;
}